<nav class="guests-rsvp-nav">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <%= link_to '1. Om Dig', guest_path(@guest), class: ['nav-link', active == 1 ? 'active' : ''] %>
    </li>
    <li class="nav-item">
      <% if active >= 2 %>
        <%= link_to '2. Bekräfta', confirm_guest_path(@guest), class: ['nav-link', active == 2 ? 'active' : ''] %>
      <% else %>
        <a class="nav-link <%= active == 2 ? 'active' : '' %>">2. Bekräfta</a>
      <% end %>
    </li>
  </ul>
</nav>
