<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'leader' %>
      <h2>Tack!</h2>
      <p>Vi har skickat en bekräftelse till <tt><%= @guest.email %></tt>.</p>
      <p>Om du inte fått dit mail inom 15 minuter kolla i skräpposten annars hör av dig till <%= mail_to ENV['CONTACT_EMAIL'], 'oss' %>.</p>
      <p>Mailet innehåller en länk där du kan uppdatera din OSA.</p>
      <p><%= link_to 'Tillbaka', root_path %></p>
    </div>
  </div>
</div>
