<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'leader' %>
      <h2>Välkommen tillbaka</h2>
      <p>Du har redan gjort din OSA, du ska ha fått en länk till din email du kan använda för att uppdatera dina svar.</p>
      <p>Kolla gärna din <tt><%= @guest.email %></tt> även skräpposten!</p>
      <p>Om du inte fått något mail kontakta <%= mail_to ENV['CONTACT_EMAIL'], 'contact us' %>.</p>
    </div>
  </div>
</div>
