<p><%= @guest.email_safe_salutation %></p>

<p>Du har redan använt din mail till oss<%= ENV['CANONICAL_HOST'] %>.</p>

<p>Behöver du ändra din osa använd länken för att uppdatera dina svar:</p>
<p><%= link_to guest_url(@guest), guest_url(@guest) %></p>

<p>Om du har några frågor om kan du bara svara på detta mailet.</p>

<p>&nbsp;</p>
<p><%= t :wedding_couple_names %></p>
