<section id="welcome-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t :wedding_couple_names %></h1>
    <p class="leader-date">
      <%= t :wedding_date %>, <%= t :wedding_location %>
    </p>
    <p>
      <%= link_to 'RSVP TODAY!', new_guest_path, class: 'btn btn-primary wedding-cta-btn' %>
    </p>
  </div>
</section>
<section id="welcome-index-wedding-plan">
<div class="row">
  <div class="offset-md-3 col-md-6">
    <h2>Välkomna till vårt Bröllop</h2>
    <p>Vi ser fram emot att fira vår bröllopsdag med er! På denna hemsida har vi samlat information om bröllopsdagen. 
    Sidan kommer att uppdateras fram till bröllopsdagen.</p>
  </div>
</div>
</section>