<section id="welcome-index-leader" class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading"><%= t :wedding_couple_names %></h1>
    <p class="leader-date">
      <%= t :wedding_date %>, <%= t :wedding_location %>
    </p>
    <p>
      <%= link_to 'RSVP TODAY!', new_guest_path, class: 'btn btn-primary wedding-cta-btn' %>
    </p>
  </div>
</section>
<section id="welcome-index-wedding-plan">
<div class="row">
  <div class="offset-md-3 col-md-6">
    <h2>Hur tar jag mig dit?</h2>
    <p>Buss avgår från Grand Hotel lund kl 14:45.</p>
    <p>Det går också bra att ta sig till Kyrkan med egen bil.</p>
    <h2>Långvägagäst?</h2>
    <p>Vi kommer bo på Grand hotel i Lund och vi har ordnat en rabbat om man uppger att man ska på  <strong>Cajsa och Davids bröllop</strong>.</p>
    <p>Checkin är från kl 14:00.</p>
  </div>
</div>
</section>