/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Arvo:400');

$font-family-sans-serif: 'Brush Script MT', cursive;
$font-family-serif: 'Brush Script MT', cursive;

$font-family-base: $font-family-serif;
$headings-font-family: $font-family-sans-serif;

$body-color: rgba(28, 13, 10, 0.7);
$headings-color: rgba(28, 13, 10, 0.7);

$theme-colors: (
  "primary": #02033d
);

$enable-rounded: false;

@import "bootstrap";
@import "guests";
@import "welcome";


body {
  width: 100vw;
  overflow-x: hidden;
  font-size: 30px;
}
  

h1 {
  font-size: 70px;
  font-weight: 700;
  letter-spacing: 0.0833333em;
  // text-transform: lowercase;
}

h2 {
  color: theme-color("primary");
  font-size: 30px;
  font-weight: 700;
  line-height: 1.5em;
  letter-spacing: 0.0833333em;
  // text-transform: lowercase;

  svg {
    fill: currentColor;
    margin: 0 auto;
    height: 100px;
  }
}

.wedding-cta-btn {
  letter-spacing: 2px;
  padding: 0.75rem 1.5rem;
  font-size: 30px;
}

.wedding-required {
  color: theme-color("primary");
}

/* custom_styles.css */
.image-container {
  max-width: 50vh; /* Adjust the width of the container */
  height: auto; /* Adjust the height of the container */
  display: flex;
  gap: 20px;
  justify-content: center; /* Center the image horizontally */
  padding: 2%;
}

.small-image {
  max-width: 50%; /* Ensure the image fits within the container */
  max-height: 50%; /* Ensure the image fits within the container */
}
